.dashboard-flex{
  display: flex;
  justify-content: flex-end;
}
.profile-card-1 {
  font-family: 'Poppins', Arial, sans-serif;
  margin-left:160px;
  margin-top: 15px;
  float: left;
  overflow: hidden;
  width: 360px;
  height:400px;
  color: #ffffff;
  text-align: center;
  border:none;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}
.reviews a {
  color: white;
}
.reviews a:hover {
  color: #EE8572;
  text-decoration: none;
}

.dashboard-card {
  width: 573px;
  margin-bottom: 20px;
}

.dashboard-cards {
  margin: 0 auto;
  width: auto !important;
}

.dashboard-cards img {
  width: 573px;
}

.dashboard-wrapper-right {
 margin: 0 auto;
 min-width: 620px;
 padding: 15px;
 margin-right: 158px;
}

.dashboard-wrapper-left {
  position: sticky;
  top:15px;
  align-self: flex-start;
}


a#nav-home-tab {
  color: black;
}

a:hover#nav-home-tab  {
  color: #EE8572;
  text-decoration: none;
}

a#nav-profile-tab {
  color: black;
}

a:hover#nav-profile-tab  {
  color: #EE8572;
  text-decoration: none;
}

a#nav-contact-tab {
  color: black;
}

a:hover#nav-contact-tab  {
  color: #EE8572;
  text-decoration: none;
}

