// Specific CSS for your home-page

.banner-home {
  height: 100vh
}
.container-form-home {
  align-items: center;
  justify-content: center;

}
#p-form {
  color: grey;
  text-shadow: 0 0 0;
}

.titre-form-home {
  color: #484848;
}

.label-home{
  color: grey;

}
