.container {
  display: flex;
}


// .card {
//   background-size: cover;
//   background-position: center;
//   height: 150px;
//   border-radius: 1px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   font-size: 22px;
//   font-weight: bold;
//   margin: 0;  color: white;
//   font-weight: bolder;
//   text-shadow: 0 0 10px rgba(0,0,0,0.7);
// }

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  flex-grow: 1;
  width: 1000px;
}

#map {
  position: sticky;
  top: 0;
  margin-left: 20px;
}
