
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1556911261-6bd341186b2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80);">
<div class="container">
  <div class="row">
    <form class= "form-home p-4 col-md-4">
      <h3> Cherchez votre cuisine </h3>
    <div class="form-group">
      <label for="inputAddress">Adresse</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Où vous voulez...">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ville</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Code Postal</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Date arrivée</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="far fa-calendar-alt"></i></span>
          </div>
          <input type="text" class="form-control datepicker" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Date de départ</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="far fa-calendar-alt"></i></span>
          </div>
          <input type="text" class="form-control datepicker" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
      <a class="btn btn-flat" href="#"> Rechercher </a>
  </form>
    <div class="col-md-6 offset-md-2">
      <h1>KitchenShare - <strong>trouvez la cuisine </strong> qui corespond <strong>à vos besoins</strong>!</h1>
      <p>Nos proprietaires fournissent leurs cuisines equipées pour vous rendre service.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>

</div>

</div>
