.card-trip {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  & a {
    text-decoration: none;
    color: #201E50;
  }
  & a:hover {
    color: #EE8572
  }
}

.card-trip p {
  font-family: 'Quicksand';
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


